@font-face {
    font-family: 'BMHANNAPro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'BMHANNAPro';
}

.link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: black;
    height: 50px;
}

.link p {
    font-size: 20px;
    line-height: 50px;
}

.link img{
    margin-left: 10px;
    width: 50px;
}

.link:hover {
    opacity: 0.5;
}

.link:nth-of-type(1) {
    top: 30px;
}

.link:nth-of-type(2) {
    top: 380px;
}

#tajiriri {
    width: 480px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}

#range {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:450px;
    width: 200px;
}